{
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.jsx", "*.js", "*.config.js", "*.css", "*.html"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
