.blogs-container {
  background-image: url(../assets/scifi-sky.jpg);
  background-blend-mode: multiply;
  background-color: #565d9f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mask-image: linear-gradient(to bottom, black, black, black, transparent);
}

.blinds:nth-child(even) {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      transparent
    )
    1;
  border-left-width: 2px;
  border-right-width: 2px;
  /* backdrop-filter: saturate(120%); */
}

.blog-item {
  mask-image: url(../assets/blog-item-overlay.svg);
  mask-size: contain;
}

.tresco {
  mask-image: linear-gradient(to bottom, black, transparent);
}

.hover-backlight:hover {
  background-image: linear-gradient(
      to right,
      transparent,
      #ffffff44,
      transparent
    )
    1;
}

.featured-pedestal {
  background-image: linear-gradient(to top, white, transparent);
}

.featured-mask {
  mask-image: url(../assets/featured-blog-mask.svg);
  mask-size: contain;
  mask-position: center;
}
