.orbit {
  animation: rot360 100s linear 0s infinite;
}

@keyframes rot360 {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.trans-border-70 {
  border: 1px solid rgba(255, 255, 255, 0.23);
}