.terminal-border {
  background: center / contain no-repeat url(../../src/assets/terminal.svg);
}

.aurebesh {
  font-family: Aurebesh;
}

.glow-text {
  text-shadow: white 0 0 5px;
}

#terminal-marquee {
  mask-image: linear-gradient(to right, transparent, black, transparent);
}

#terminal-content {
  mask: url(../assets/terminal-screen.svg);
  mask-size: contain;
}

#project-banner {
  border-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.glow-text-hover:hover {
  text-shadow: white 0 0 10px;
}

.trans-border {
  border: 1px solid rgba(255, 255, 255, 0.2);
}