html,
body,
#root {
    height: 100%;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

.theme-bg {
    background: #353a6b;
}

.theme-fg {
    background: #565d9f;
}

* {
    color: rgba(255, 255, 255, 0.9);
}

.simon-lee {
    background: repeat-y center/100% linear-gradient(to bottom, #8b83ac, #929bf0);
    /*animation: gradient 0.5s steps(5, jump-both) infinite;*/
}

.simon-lee-2 {
    background: no-repeat center/80% url("assets/simon-lee-unsplash.png");
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.comforter {
    font-family: 'Comforter', cursive;
}
